*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    user-select: none;
    /* line-height: 1.5; */
    /* outline: 1px solid greenyellow; */
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

body{
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(172, 137, 192); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 79, 167);
}

 
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position:fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background:rgb(255, 255, 255);
    border-bottom: 1px solid blueviolet;
}

.nav-img{
    display: flex;
    align-items: center;
    margin-left: 5%;
    cursor: pointer;
}

.nav-img img{
    height: 30px;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list li{
    padding: 10px;
    list-style: none;
}

.nav-list li a{
    font-size: 14px;
    font-weight: 600;
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.nav-list li a:hover{
  color: blueviolet;
}

.nav-signin{
margin-right: 5%;
}

.nav-signin a{
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(90deg,rgb(153, 113, 245),rgb(182, 3, 182));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ham{
  display: none;
}

.dp{
  text-align: center;
  position:absolute;
  width: 100%;
  background: white;
  transform: translateY(-200%);
  transition:1s;
  z-index: 1;
}
.dp-active{
  text-align: center;
  position:absolute;
  width: 100%;
  background: white;
  transform: translateY(0%);
  transition:1s;
  z-index: 1;
  top:70px;
}

#dp li{
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid rgb(229, 208, 248);
}
#dp li a{
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: blueviolet;
  text-decoration: none;
}

.banner{
  margin-top: 60px;
  /* padding-top:60px; */
  height: 100vh; 
  width: 100%;
  display: flex;
  align-items: center;
  background-color:#FFFFFF;
  background-image: url(import/Picsart_23-05-15_16-09-36-335.jpg);
  background-repeat: no-repeat;
  background-size:100%;
}

.banner-layer{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
}

.banner-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
    text-align:left;
    margin-left: 5%;
    /* margin-top: 5%; */
    opacity: 1;
    animation: 2s bcon linear;
    position: relative;
}

  @keyframes bcon{
    0%{
      left:-100%
    }
    10%{
      left:-90%
    }
    20%{
      left:-80%
    }
    30%{
      left:-70%
    }
    40%{
      left:-60%
    }
    50%{
      left:-50%
    }
    60%{
      left:-40%;
    }
    70%{
      left:-30%;
    }
    80%{
      left:-20%
    }
    90%{
      left:-10%
    }
    100%{
      left:0%
    }  
  }

.banner-content h1{
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(120deg,#cc5fff 0%, rgb(153, 0, 255) 100%);
  background-size: 200% 10px ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

@keyframes textclip {
  0%{
    background-position: 200% center;
  }

  100%{
    background-position: 200% right;
  }
}

.banner-content p{
  margin-top: 10px;
  /* margin-bottom:10px; */
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.banner-btn{
  margin-top: 20px;
  height:55px;
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
}

.banner-btn a{
  color: white;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background: linear-gradient(#6483ffdc,#ae00ffcb);
  text-decoration: none;
  
}

.banner-btn a:hover{
  background: linear-gradient(#6484ff,#af00ff);
}

.headline{
  line-height: 1.5;
  display: block;
  text-align: center;
  margin:3% auto;
  background: linear-gradient(90deg,rgb(13, 75, 209),rgba(173, 14, 173, 0.952),rgb(94, 1, 94));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-number{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.banner-number p{
  color: #ae00ff;;
}

.banner-number i{
  margin-right: 5px;
}

.vid{
  width: 60%;
  margin: 70px auto;
}

video {
  width: 100%;
  border: 5px solid #ae00ff;
  border-radius: 25px;
}

.heading{
  display: block;
  text-align: center;
  margin:5% auto;
}

.card-area{
  display:flex;
  align-items: center;
  width: 90%;
  margin:0 auto;
  line-height: 1.5;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 50px;
    border: none;
}

.left-card{
    display: flex;
    justify-content: right;
    gap:50px;
    height: 100%;
}

.right-card{
    display: flex;
    gap:50px;
    justify-content: left;
    height: 100%;
}

.card-body{
    height:350px;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-body h1{
    text-align:center;
    font-size:16px;
    height:4rem;
    font-weight: 700;
}

.card-body img{
    height:50%;
    width: 65%;
    margin: 0 auto;
}

.card-body p{
    margin-top: 5px;
    text-align:center;
    font-size:16px;
    color: rgb(80, 79, 79);
    font-weight: 200;
}

.features{
    width: 100%; 
}

.features-body{
    display: flex;
    width: 100%;
    height:fit-content;
    margin: 0 auto;
    line-height: 1.5;
}

.left-features{
    width: 50%;
    margin-left:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-features img{
    height: 500px;
    width: 500px;
    margin:0 auto;
    opacity:.7;
}

.right-features{
    width: 50%;
    margin-right:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-features img{
    height: 500px;
    width: 500px;
    margin:0 auto;
    opacity:.7;
}

.features-heading{
    font-size: 30px;
    font-weight: 200;
    margin: 2% auto;
    text-align:left;
    width: 70%;
}

.features-paragraph{
    font-size: 16px;
    text-align: left;
    width: 70%;
    margin: 1% auto;
    font-weight: 100;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition:1s;
}

.reveal.r-active{
  transform: translateY(0px);
  opacity: 1;
}

/* pricing part start */

/* .pricing{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.pricing-btn{
  height: 40px;
  border-radius: 20px;
  border:2px solid rgb(161, 161, 161);
  width: 150px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.btn-move{
  height: 40px;
  transform: translateX(-60%);
  transition: .2s;
  border:2px solid rgb(161, 161, 161);
  z-index: 1;
  width: 75px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: white;
  font-weight: 700;
  background: linear-gradient(90deg,rgb(124, 158, 233),rgb(238, 76, 238));
}

.price-month{ height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  transform: translateX(15px);
}

.price-year{ height: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  transform: translateX(-15px);
}

.pricing p{
    text-align: center;
    width: 50%;
    margin-bottom: 30px;
}

.our-pricing{
    display: grid;
    grid-template-columns:repeat(4,0fr);
    gap: 70px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .pricing-card{
    position: relative;
    width: 250px;
    height: 390px;
    border-radius: 25px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }

  .pricing-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
  }

  .pricing-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform:rotateY(180deg);
    border-radius: 20px;
    display: flex;
  }

  .pricing-card-body{
    width: 250px;
    height: 390px;
    justify-content: center;
    display:flex;
    align-items:center;
    border: 2px solid whitesmoke;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 7px 1px #00000069;
    background:white
  }
  
  .pricing-card-head{
    height:40px;
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .pricing-card-head h1{
    transform: translateX(-10px);
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(90deg,rgb(122, 160, 243),rgb(212, 97, 212));
    border-top-left-radius: 10px;
    border-bottom-right-radius:25px;
    box-shadow: 0 0 7px 3px #0000007e;
  }

  .pricing-card-head h1 span{
    font-size: 10px;
    font-weight: 600;
  }

  .pricing-card-des{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    height: 270px;
    width: 95%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
  }
.pricing-card-des li{
    padding: 1.8px 20px;
}

  .pricing-card-des p{
    font-size: 35px;
    font-weight: 500;
    width: 100%;
    color:rgb(0, 0, 0);
    transform: translateY(15px);
  }

  .pricing-card-des p span{
    font-size: 12px;
  }

  .tik-icon{
    background: rgb(248, 248, 248);
    color: rgb(7, 187, 37);
    border-radius: 20px;
    margin-right: 3px;
  }

  .cross-icon{
    background: rgb(248, 248, 248);
    color: rgb(231, 22, 22);
    border-radius: 20px;
    margin-right: 3px;
  }

  .pricing-card-btn{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
  }

  .pricing-card-btn button{
    padding: 2% 5%;
    height: 30px;
    width: 100px;
    margin-bottom:10px;
    margin-top: 5px;
    background:transparent;
    color: rgb(8, 8, 8);
    font-weight: 700;
    border: 2px solid rgba(12, 12, 12, 0.404);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px .5px #00000036;
  }

  .pricing-card-btn button:hover{
    background-color: rgb(243, 243, 243);
  } */

/* pricing part end */
 
.choose{
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .choose-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
  }
  .choose-body span img{
    width: 120px;
    height: 120px;
    font-size: 50px;
    padding: 20px;
    color:white;
    background: linear-gradient(90deg,rgb(124, 158, 233),rgba(248, 126, 248, 0.952));
    border-radius: 60px;
  }

  .choose-body h1{
    width: 80%;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: large;
  }

  .choose-body p{
    width: 80%;
    text-align: center;
    margin: 0px 0px 50px 0px;
    font-weight: 300;
    font-size: 16px;
  } 
  
  .faq{
    display: flex;
    margin:auto;
    width: 90%;
    margin-top: 50px;
    line-height: 1.5;
}

.faq-heading{
    font-size: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(151, 151, 151);
}

.faq-heading img{
  width:50%;
  margin: 0 auto;
}

.faq-question{
    width: 70%;
}

.accordion {
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: white;
    line-height: 1.5;
  }
  
  .accor-active, .accordion:hover {
    background-color:rgba(241, 241, 241, 0.568);
  }
  
  .accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .accor-active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom:.5px solid #ccc;
  }

  .panel p{
    padding: 10px 0;
    font-size: 14px;
    
  }

  .footer{
    background:rgb(242, 233, 252);
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
  }
  .footer-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .footer-body a{
    color: black;
  }

  .footer-img{
    margin-left: 5%;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  .logo-text{
  display: flex;
  gap: 5px;
  }

  .footer-number{
    display: flex;
    gap: 10px;
  }
  
  .footer-icon{
    margin-right: 5%;
  }

  .footer-body i{
    font-size: 18px;
    padding: 8px;
    border-radius: 25px;
    background: linear-gradient(90deg,rgba(204, 17, 204, 0.404),rgba(128, 0, 128, 0.514));
    color:rgb(242, 233, 252);
    margin-right: 5px;
    cursor: pointer;
  }
  
  .footer-content p a{
   color: black;
   cursor: pointer;
  }

  .footer-content p a:hover{
    color: #ae00ff;
  }
  .footer-content{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  @media screen and (max-width: 1100px){
    
    .banner-content{
      width: 80%;
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content:center;
      align-items: center;
    }

    .banner-content p{
      width: 100%;
      text-align:center;
      margin: 0 auto;
    }
    .banner-layer{
      height: 100%;
      background-color: white;
      animation:2s blayer linear ;
    }
    @keyframes blayer{
      0%{
        background-color: rgba(255, 255, 255, 0);
      }
      10%{
        background-color: rgba(255, 255, 255, .1);
      }
      20%{
        background-color: rgba(255, 255, 255, .2);
      }
      30%{
        background-color: rgba(255, 255, 255, .3);
      }
      40%{
        background-color: rgba(255, 255, 255, .4);
      }
      50%{
        background-color: rgba(255, 255, 255, .5);
      }
      60%{
        background-color: rgba(255, 255, 255, .6);
      }
      70%{
        background-color: rgba(255, 255, 255, .7);
      }
      80%{
        background-color: rgba(255, 255, 255, .8);
      }
      90%{
        background-color: rgba(255, 255, 255, .9);
      }
      100%{
        background-color: rgba(255, 255, 255,1);
      }  
    }
    .banner-number{
      justify-content: center;
    }

  }

  @media screen and (max-width: 940px){
    .headline{
      width: 80%;
      margin: 0 auto;
     }
    .footer-body{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 30px;
    }
    .left-features img{
      height: 400px;
      width: 400px;
  }
    .right-features img{
      height: 400px;
      width: 400px;
  }
  }

  @media screen and (max-width: 768px) {
    .nav-list{
      display: none;
    }
    .nav-signin{
      display: none;
    }
    #ham{
      display:flex;
      font-size: 20px;
      margin-right: 20px;
      color: blueviolet;
    }
    .banner{
      /*margin-top:70px;  */
      height: fit-content;
      margin-bottom: 50px;
      /* background-image: none; */
    }
   
    .banner-content{
      height: 100%;
      margin-top:70px; 
    }
   
    .card{
      flex-direction: column;
    }
    .left-card{
      justify-content: center;
    }
    .right-card{
      justify-content: center;
    }
    .features{
      margin-bottom: 50px;
    }
    .choose{
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,1fr);
    }
   .faq{
    display: flex;
    flex-direction:column;
   }
   .faq-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
   }
   .faq-heading img{
    display: none;
   }
   .faq-question{
    width: 100%;
   }
   .footer-content{
    flex-direction: column-reverse;
    gap: 20px;
   }
  }

  @media screen and (max-width:700px){
    .banner{
      background: none;
    }
    @keyframes bcon{
      0%{
        scale: 0%;
        opacity: 0;
      }
      100%{
        scale: 100%;
        opacity: 1;
      }  
    }
    .banner-btn{
      width: 180px;
      height: 45px;
    }
    .banner-btn a {
      font-size: 14px;
      font-weight: 500;
    }
    .banner-number {
      display: none;
    }
    .vid{
      width: 75%;
    }
    .features{
      width: 90%;
      margin: 0 auto;
    }
    .features-body{
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      height: fit-content;
    }
    .features-body-left{
      flex-direction: column-reverse;
    }
    .features-body-left .right-features{
      height: fit-content;
    }
    .features-body-right .left-features{
      height:fit-content;
    }
    .left-features{
      width: 90%;
      height: 50vh;
      text-align: center;
      margin: 0 auto;
    }
    .right-features{
      width: 90%;
      height: 50vh;
      text-align: center;
      margin: 0 auto;
    }
    .card-body p{
      text-align: center;
    }
  }

  @media screen and (max-width: 480px){
    .banner{
      background: none;
    }
    .left-card{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .right-card{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card-body{
      width: 80%;
    }

    .choose{
      margin-top: 30px;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(6,1fr);
    }
    .features{
      width: 90%;
      margin: 0 auto;
    }
    .features-body{
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      height: fit-content;
    }
    .features-body-left{
      flex-direction: column-reverse;
    }
    .features-body-left .right-features{
      height: fit-content;
    }
    .features-body-right .left-features{
      height:fit-content;
    }
    .left-features{
      width: 90%;
      height: fit-content;
      text-align: center;
      margin: 0 auto;
    }
    .right-features{
      width: 90%;
      height:fit-content;
      text-align: center;
      margin: 0 auto;
    }
    .left-features img{
      height: 200px;
      width: 200px;
  }
    .right-features img{
      height: 200px;
      width: 200px;
  }
    .features-heading{
      text-align: center;
    }
    .features-paragraph{
      text-align: center;
    }
    
    .footer-number{
      display: flex;
      flex-direction: column;
      align-items:first baseline;
    }
  }
 
  @media screen and (min-width: 768px){
    .dp-active{
      display: none;
    }
  }
  
  @media screen and (min-width: 1800px){
   .banner-number{
    height: 60px;
    font-size: 18px;
   }
    .left-features img{
      height: 700px;
      width: 700px;
  }
    .right-features img{
      height: 700px;
      width: 700px;
  }
  }



 



